.DS_Store
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.pyc
*.zip
*.sh
Rakefile
*/build/*
Signing/
build.sh
appcast.xml
changelog.txt
*~
Debug.xcconfig
Resources/Plugins/Compiled
CERTIFICATE
DerivedData
